# FIX COLUMNA_TAG

In [28]:
import pandas as pd
import numpy as np
import sqlite3

df = pd.read_excel("columna_tag.xlsx", header=1)

database_path = "../database/database.sqlite"

conn = sqlite3.connect(database_path)
cursor = conn.cursor()

In [29]:
df.head()

               tag           descripcion sI/NO
0  P#LS0313_LTCB72  NIVEL 1 TORTA P45 H0   NaN
1  P#LS0313_LTCB73  NIVEL 2 TORTA P45 H0   NaN
2  P#LS0714_LTEB70      NIVEL ANION A-11   NaN
3  P#LS0714_LTEA70       NIVEL ANION A-9   NaN
4  P#LS3319_LTAM74  NIVEL ANIÓN GRUPO 10   NaN

In [30]:
df.shape

(402, 3)

In [31]:
important = {
    "P#LE3008_DTOBE72": "COT AGUAS ÁCIDAS NUEVO",
    "P#LE3009_DTBE71": "COT AGUAS ÁCIDAS",
    "P#LE3009_DTBE72": "COR TITÁNIC AZÚCARES",
    "P#LE3008_DTOBE73": "COT TITÁNIC AZÚCARES NUEVO",
}

df["descripcion"] = df["tag"].map(important).fillna(df["descripcion"])

In [32]:
df = df.drop_duplicates(subset="tag")

In [33]:
df.shape

(373, 3)

In [34]:
duplicate_counts = df["descripcion"].value_counts()
duplicates = duplicate_counts[duplicate_counts > 1]

print("Number of duplicated descriptions:", duplicates.sum())
print("Duplicated descriptions and their counts:")
print(duplicates)

Number of duplicated descriptions: 19
Duplicated descriptions and their counts:
descripcion
W10 STATUS                       3
NIVEL CUBA E06                   2
W7 STATUS                        2
PRESION SDA FILTRO GAF SDA W8    2
NIVEL CUBA SDF                   2
NIVEL G1                         2
% VF BOMBA ALIMENTACION W7       2
NIVEL CUBA H                     2
NIVEL ANIÓN GRUPO 4              2
Name: count, dtype: int64

In [35]:
table_name = "columna_tag"

cursor.execute(f"DROP TABLE IF EXISTS {table_name}")

cursor.execute(
    f"""
CREATE TABLE IF NOT EXISTS {table_name} (
    tag TEXT,
    descripcion TEXT,
    sI_NO TEXT
)
"""
)

In [36]:
df.to_sql(table_name, conn, if_exists="replace", index=False)

373

In [37]:
conn.commit()
conn.close()